@inherits HexBase
<FluentMainLayout>
    <Header>
        <HexApplicationTitle/><FluentSpacer/><HexModuleTitle/>
    </Header>
    <SubHeader><HexPageTitle/></SubHeader>
    <Body>
       @ChildContent
    </Body>
    <NavMenuContent>
        <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
        <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
        <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink>
        <FluentNavLink Href="auth" Icon="@(new Icons.Regular.Size20.LockClosedKey())" IconColor="Color.Accent">Auth Required</FluentNavLink>
        <AuthorizeView>
            <Authorized>
                <FluentNavLink Href="Account/Manage">@context.User.Identity?.Name</FluentNavLink>
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <FluentButton Type="ButtonType.Submit" Style="width: 100%;">Logout</FluentButton>
                </form>
            </Authorized>
            <NotAuthorized>
                <FluentNavLink Href="Account/Register">Register</FluentNavLink>
                <FluentNavLink Href="Account/Login">Login</FluentNavLink>
            </NotAuthorized>
        </AuthorizeView>
    </NavMenuContent>
</FluentMainLayout>

@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string currentUrl = string.Empty;
}
