@inherits LayoutComponentBase
@using Hexalith.UI.Components.Configurations
@using Hexalith.UI.Components.FluentUITheme
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.Extensions.Options
@using Hexalith.UI.Components.Helpers
@inject IOptions<FluentUIThemeSettings> ThemeSettings
@inject IEnumerable<MenuItemInformation> MenuItems

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentDesignSystemProvider AccentBaseColor="@ThemeSettings.Value.AccentBaseColor"
							StrokeWidth="@ThemeSettings.Value.StrokeWidth"
							FillColor="@ThemeSettings.Value.FillColor">
	<FluentMainLayout NavMenuWidth="300">
		<Header>
			<HexApplicationTitle />
			<FluentSpacer />
			<SectionOutlet SectionName="ApplicationHeaderContent" />
			<FluentSpacer />
			<HexProfileMenu />
		</Header>
		<SubHeader>
			<SectionOutlet SectionName="ModuleHeaderContent" />
		</SubHeader>
		<Body>
			@Body
		</Body>
		<NavMenuContent>
			@foreach (MenuItemInformation menuItem in MenuItems)
			{
				if (menuItem.SubItems.Any())
				{
					<FluentNavGroup Expanded="true"
									Title="@menuItem.Name"
									Icon="@menuItem.Icon.ToFluentIcon()"
									IconColor="Color.Accent">
						@foreach (var subItem in menuItem.SubItems)
						{
							<FluentNavLink Icon="@subItem.Icon.ToFluentIcon()" Href="@subItem.Path">@subItem.Name</FluentNavLink>
							if (subItem.DividerAfter)
							{
								<FluentDivider />
							}
						}
					</FluentNavGroup>
				}
				else
				{
					<FluentNavLink Icon="@menuItem.Icon.ToFluentIcon()" Href="@menuItem.Path">@menuItem.Name</FluentNavLink>
					if (menuItem.DividerAfter)
					{
						<FluentDivider />
					}
				}
			}
		</NavMenuContent>
	</FluentMainLayout>
@* 	<FluentFooter>
		<SectionOutlet SectionName="ApplicationFooterContent" />
	</FluentFooter>
 *@
</FluentDesignSystemProvider>
<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>

@code {
}
