@page "/Customer/Register"
@using System.Security.Claims
@using HexalithApplication.Components.Google

@attribute [Authorize]
@rendermode InteractiveServer

@inject ProtectedSessionStorage SessionStore
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ICommandBus CommandBus
@inject IDateTimeService DateTimeService
@inject IOptions<OrganizationSettings> OrganizationSettings


<PageTitle>Register customer</PageTitle>
<h3>Register customer</h3>
@if (Model == null)
{
    <FluentStack>
        <FluentProgressRing></FluentProgressRing>
    </FluentStack>
}
else
{
    <EditForm Enhance Model="@Model" OnValidSubmit="@Submit" FormName="RegisterCustomer">
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="20">
        <DataAnnotationsValidator />
        <FluentValidationSummary />
        <FluentGrid Spacing="3" Style="background-color: var(--neutral-layer-3);">
            <FluentGridItem xs="12" sm="6" >
                <FluentTextField @bind-Value="Model!.FirstName" Placeholder="John" Label="First Name" style="width: 100%;">
                    <FluentIcon Value="@(new Icons.Regular.Size16.Person())" Slot="start" Color="Color.Accent" />
                </FluentTextField>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="6">
            <FluentTextField @bind-Value="Model!.LastName" Placeholder="Doe" Label="Last Name" style="width: 100%;">
                <FluentIcon Value="@(new Icons.Regular.Size16.Person())" Slot="start" Color="Color.Accent" />
            </FluentTextField>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="4">
            <FluentTextField @bind-Value="Model!.Email" Placeholder="jdoe@contoso.com" Label="Email" style="width: 100%;">
                <FluentIcon Value="@(new Icons.Regular.Size16.Mail())" Slot="start" Color="Color.Accent" />
            </FluentTextField>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="4">
            <FluentTextField @bind-Value="Model!.PhoneNumber" Placeholder="+33 1 22 22 22 22" Label="Phone" style="width: 100%;">
                <FluentIcon Value="@(new Icons.Regular.Size16.Call())" Slot="start" Color="Color.Accent" />
            </FluentTextField>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="4">
            <FluentTextField @bind-Value="Model!.MobilePhoneNumber" Placeholder="+33 6 22 22 22 22" Label="Mobile" style="width: 100%;">
                <FluentIcon Value="@(new Icons.Regular.Size16.Phone())" Slot="start" Color="Color.Accent" />
            </FluentTextField>
            </FluentGridItem>
            <FluentGridItem xs="12">
            <FluentPostalAdressWithGooglePlaces 
                @bind-Value="Model!.PostalAddress" 
                Placeholder="10, place de la tour Eiffel 75001 Paris, France" 
                Label="Address" 
                style="width: 100%;">
                <FluentIcon Value="@(new Icons.Regular.Size16.Location())" Slot="start" Color="Color.Accent" />
            </FluentPostalAdressWithGooglePlaces>
            </FluentGridItem>
        </FluentGrid>
        <FluentButton Appearance="Appearance.Accent"
                      Loading="@_submitting"
                      IconStart="@((_submitting)?new Icons.Regular.Size16.ArrowClockwise():new Icons.Regular.Size16.Save())"
                      Type="ButtonType.Submit">Save</FluentButton>
        </FluentStack>
    </EditForm>
}
@code {
    [SupplyParameterFromForm]
    private RegisterCustomerModel? Model { get; set; }

    private string? _sessionId { get; set; }
    bool _submitting = false;

    protected override void OnInitialized()
    {
        Model ??= new RegisterCustomerModel();
    }


    private async Task<string> GetSessionIdAsync()
    {
        if (string.IsNullOrWhiteSpace(_sessionId))
        {
            var result = await SessionStore.GetAsync<string>(nameof(_sessionId));
            if (result.Success && !string.IsNullOrWhiteSpace(result.Value))
            {
                _sessionId = result.Value;
            }
            else
            {
                _sessionId = UniqueIdHelper.GenerateUniqueStringId();
                await SessionStore.SetAsync(nameof(_sessionId), _sessionId);
            }
        }
        return _sessionId;
    }
    private async Task Submit()
    {
        if (Model is null || _submitting)
            return;
        var originId = OrganizationSettings.Value.DefaultOriginId;
        var companyId = OrganizationSettings.Value.DefaultCompanyId;
        var partitionId = OrganizationSettings.Value.DefaultPartitionId;
        RegisterCustomer command = Model!.ToCommand(partitionId!, companyId!, originId!);

        var date = DateTimeService.Now;
        AuthenticationState authenticationState = (await AuthenticationStateProvider.GetAuthenticationStateAsync());
        var userId = authenticationState.User.Identity?.Name ?? throw new InvalidOperationException("User identity is undefined");
        var messageId = UniqueIdHelper.GenerateUniqueStringId();
        var metadata = new Metadata(
            messageId,
            command,
            date,
            new ContextMetadata(messageId, userId, date, null, await GetSessionIdAsync()),
            []);

        _submitting = true;
        try
        {
            await CommandBus.PublishAsync(new CommandState(date, command, metadata), CancellationToken.None);
        }
        finally
        {
			_submitting = false;
		}
    }
}