@page "/Customer/Register"
@attribute [Authorize]
@rendermode InteractiveServer
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ICommandBus CommandBus
@inject IDateTimeService DateTimeService
@inject IOptions<OrganizationSettings> OrganizationSettings


<PageTitle>Register customer</PageTitle>
<h3>Register customer</h3>

<EditForm Enhance Model="@Model" OnValidSubmit="@Submit" FormName="RegisterCustomer">
    <DataAnnotationsValidator />
    <FluentValidationSummary />
    <FluentStack Orientation="Orientation.Vertical">
        <FluentTextField @bind-Value="Model!.FirstName" Placeholder="John" Label="First Name" style="width: 100%;">
            <FluentIcon Value="@(new Icons.Regular.Size16.Person())" Slot="start" Color="Color.Accent" />
        </FluentTextField>
        <FluentTextField @bind-Value="Model!.LastName" Placeholder="Doe" Label="Last Name" style="width: 100%;">
            <FluentIcon Value="@(new Icons.Regular.Size16.Person())" Slot="start" Color="Color.Accent" />
        </FluentTextField>
        <FluentTextField @bind-Value="Model!.Email" Placeholder="jdoe@contoso.com" Label="Email" style="width: 100%;">
            <FluentIcon Value="@(new Icons.Regular.Size16.Mail())" Slot="start" Color="Color.Accent" />
        </FluentTextField>
        <FluentTextField @bind-Value="Model!.PhoneNumber" Placeholder="+33 1 22 22 22 22" Label="Phone" style="width: 100%;">
            <FluentIcon Value="@(new Icons.Regular.Size16.Call())" Slot="start" Color="Color.Accent" />
        </FluentTextField>
        <FluentTextField @bind-Value="Model!.MobilePhoneNumber" Placeholder="+33 6 22 22 22 22" Label="Mobile" style="width: 100%;">
            <FluentIcon Value="@(new Icons.Regular.Size16.Phone())" Slot="start" Color="Color.Accent" />
        </FluentTextField>
        <FluentTextField @bind-Value="Model!.Address" Placeholder="10, place de la tour Eiffel 75001 Paris, France" Label="Address" style="width: 100%;">
            <FluentIcon Value="@(new Icons.Regular.Size16.Location())" Slot="start" Color="Color.Accent" />
        </FluentTextField>
        <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size16.Save())" Type="ButtonType.Submit">Save</FluentButton>
    </FluentStack>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private RegisterCustomerModel? Model { get; set; }

    protected override void OnInitialized()
    {
        Model ??= new RegisterCustomerModel();
    }
    private void Submit()
    {
        var originId = OrganizationSettings.Value.DefaultOriginId;
        var companyId = OrganizationSettings.Value.DefaultCompanyId;
        var partitionId = OrganizationSettings.Value.DefaultPartitionId;
        RegisterCustomer command = Model!.ToCommand(partitionId!, companyId!, originId!);
        SendCommand(command, CancellationToken.None).GetAwaiter().GetResult();
    }
    private async Task SendCommand(RegisterCustomer command, CancellationToken cancellationToken)
    {
        var date = DateTimeService.Now;
        AuthenticationState authenticationState = (await AuthenticationStateProvider.GetAuthenticationStateAsync());
        var userId = authenticationState.User.Identity.Name;
        var messageId = UniqueIdHelper.GenerateUniqueStringId();
        var metadata = new Metadata(
            messageId,
            command,
            date,
            new ContextMetadata(messageId, userId, date, null, null),
            []);

        await CommandBus.PublishAsync(new CommandState(date, command, metadata), cancellationToken);
    }
}